
.navbar {
    border-bottom: #008ed6 3px solid;
    opacity: 0.8;
}

.navbar img {
    border: #008ed6 3px solid;
    border-radius: 5px;
    opacity: 0.8;
}
#option-section .dark-overlay, .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background: #333
} 
#option-section .option-inner {
    padding-top: 200px;
}

#option-section .card-form {
    opacity: 0.8;
    color: white;
}

#option-section .fas  {
    color: #0083d6;
    background: #333;
    padding: 5px;
    border-radius: 5px;
}
#first-form {
    padding-top: 200px;
}
