.navbar {
    border-bottom: #008ed6 3px solid;
    position: relative;
    z-index: 999;
    padding-top: 0px;
    padding-bottom: 0px;
}

/*.navbar img {*/
/*    width: 12rem;*/
/*}*/

.navbar-nav > li{
    padding-left:7px;
    padding-right:7px;
}


/*.navbar-nav > li > a:after {*/
/*    content: '';*/
/*    width: 0;*/
/*    height: 100%;*/
/*    border: 1px solid black;*/
/*    top: 0;*/
/*    left: 100px;*/
/*}*/